.cursor_default {
    cursor: default;
    color: #212121;
}

.text_white {
    color: white;
}

/* Toolbar */
ion-toolbar {
    --background: var(--color-primary);
    --color: var(--color-text-secondary);
    padding: 0.5rem !important;
}

.btn_logout {
    --background: var(--color-tertiary) !important;
    --color: var(--color-primary) !important;
    width: 12rem;
    margin-right: 2rem !important;
}

/* Home */
.form_container {
    width: 50rem;
    border-radius: 1rem;
    border: 2px solid var(--color-primary);
}

.btn_register {
    --background: var(--color-secondary);
    --color: var(--color-primary);
}

ion-input.custom-helper-text {
    --placeholder-opacity: 0.5;

    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
}

ion-input.custom-helper-text.md .input-bottom .helper-text,
ion-input.custom-helper-text.md .input-bottom {
    color: var(--color-primary);
}

.btn_login {
    --background: var(--color-tertiary);
    --color: var(--color-primary);
}

ion-toast {
    --background: #f4f4fa;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
}

/* Tasks Page */
/* Task Add Form */
.form_title {
  margin-top: 5rem;
}

.btn_add {
    --background: var(--color-primary);
    --color: white;
}

/* Tasks List */
.task_list {
    width: 40rem;
}

/* Tasks Item */
.task-title {
    transition: opacity ease;
}

.task-title.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.edit-helper {
    font-size: 9pt;
    color: var(--color-primary);
    margin-top: 4px;
}

ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: var(--color-primary);
}

ion-checkbox::part(container) {
    border-radius: 0.25rem;
    border: 2px solid var(--color-primary);
}

ion-icon.icon_edit {
    color: var(--color-primary);
}
